.center {
    height: 400px;
    width: 400px;
    background-color: #c0a16b;
    /*border: 4px solid red;*/
    position: absolute;

    text-align: center;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*50%为自身尺寸的一半*/
}
.save{ display: block;
    width: 100%;
    height: 100%;
    background-color: #e41400;
    border: solid 1px #e41400;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    line-height: 38px;
}
.textarea{
    padding: 5px;
    text-align: center;
    color: #1d70f9;
}
